# 디폴트 무시된 파일
/../../../../오즈/Django_practice/chaper_01/.idea/shelf/
/../../../../오즈/Django_practice/chaper_01/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../오즈/Django_practice/chaper_01/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../오즈/Django_practice/chaper_01/.idea/dataSources/
/../../../../오즈/Django_practice/chaper_01/.idea/dataSources.local.xml
